<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>js2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='javascript/main.js'></script>
</head>

<body>
    <div id='tabs-app'>
        <div class='tabs'>
            <ul>
                <li :class="[ lang === 'cats' ? 'is-active' : '']">
                    <a @click="lang='cats'">cats</a>
                </li>
                <li :class="[ lang === 'dogs' ? 'is-active' : '']">
                    <a @click="lang='dogs'">dogs</a>
                </li>
                <li :class="[ lang === 'raccoons' ? 'is-active' : '']">
                    <a @click="lang='raccoons'">raccoons</a>
                </li>
            </ul>
        </div>
        <div class='content'>
            <code v-if="lang ==='cats'">catscatscatscatscats</code>
            <code v-if="lang ==='dogs'">dogsdogsdogsdogsdogs</code>
            <code v-if="lang ==='raccoons'">raccoonsraccoonsraccoonsraccoonsraccoons</code>
        </div>
    </div>
</body>

</html>
