* {
    box-sizing: border-box;
}

body,
html {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0 auto;
}

.comments-body, .comment-form {
    display: flex;
    padding: 10px;
    margin: 5px;
}

.comment {
    padding: 10px;
    margin: 5px;
    background: skyblue;
    color: white;
}